import MutateClient from "@/components/Dashboard/{{entityNameCap}}/Mutate/MutateClient";
import PageContainer from "@/components/Layout/PageContainer";
import { Breadcrumbs } from "@/components/ui/breadcrumbs";
import { get{{entityNameCap}}ById } from "@/utils/{{entityName}}-api";
import { cookies } from "next/headers";
import React from "react";

const breadcrumbItems = [
  { title: "Dashboard", link: "/" },
  { title: "{{entityNameCap}}", link: "/{{entityName}}" },
  { title: "Mutate", link: "/{{entityName}}/mutate" },
];

const Mutate = async ({ params }: { params: { id: string } }) => {
  let data;
  const token = cookies().get("session")?.value;
  if (params.id === "create") {
    data = null;
  } else {
    data = (await get{{entityNameCap}}ById(params.id, token)).data.data;
  }
  return (
    <PageContainer className="space-y-2 w-full">
      {/* Breadcrumbs */}
      <Breadcrumbs items={breadcrumbItems} />
      {/* Content */}
      <div className="size-full flex flex-col items-start justify-between gap-5">
        <MutateClient data={data} />
      </div>{" "}
    </PageContainer>
  );
};

export default Mutate;
